.main_text {
    font-family:Arial, Helvetica, sans-serif;
    margin: auto;
    color: rgb(230, 230, 230);
}

h1.main_text {
    
}

.main_container {
    
}

body {
    background-color: #1e1e1e;
    background-image: url(/media/img/Chateauwood.jpg);
}

.text_container {
    background-color: #1e1e1e80;
    width: 500px;
    height: 400px;
    margin: auto;
    margin-top: ;
    text-align: center;
}