.title_text {
    font-family: 'Courier New', Courier, monospace;
    margin: auto;
    color: white;
    padding: 50px;
}

h1.title_text {
    margin: auto;
}

.main_container {
    background-color: #1e1e1e;
    height: 1000px;
    width: 100%;
}